{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Handlebars</h1>
        <p>El mejor framework</p>
    </div>
    <div class="col-4">
        <h2>Imagen Handlebars</h2>
        <img src="assets/img/handlebars-js.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}